.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
  flex-direction: row;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 775px) {
	.desktop {
		display: none;
	}
}

.hero-head{
  color: white;
  background-color: rgba(109, 158, 194, 0.75);
}

.hero-footer{
  color: white;
  background-color: rgba(109, 158, 194, 0.75);
}

.navbar-item{
  color: white;
}

.body-item{
	color: white;
}

.bodyCol{
	max-height: 500px;
	overflow: auto;
}

.ticketRS{
	text-align: center;
	background-color: rgba(255, 0, 0, 0.78);
}

.ticketIP{
	text-align: center;
	background-color: rgba(255, 217, 25, 0.78);
}

.ticketR{
	text-align: center;
	background-color: rgba(20, 195, 255, 0.78);
}

.ticketD{
	text-align: center;
	background-color: rgba(34, 204, 0, 0.78);
}
