.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
  flex-direction: row;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 775px) {
	.desktop {
		display: none;
	}
}

.titleBody{
	text-align: center;
}

.hero-head, .hero-footer{
  color: white;
  background-color: rgba(109, 158, 194, 0.75);
}

.navbar-item, .body-item{
  color: white;
}

.bodyCol{
	max-height: 500px;
	overflow: auto;
}

.ticketRS{
	text-align: center;
	background-color: rgba(185, 185, 185, 0.84);
}

.ticketIP{
	text-align: center;
	background-color: rgba(140, 176, 187, 0.84);
}

.ticketR{
	text-align: center;
	background-color: rgba(76, 155, 180, 0.84);
}

.ticketD{
	text-align: center;
	background-color: rgba(6, 104, 134, 0.84);
}
